@import "tailwindcss";

html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.radix-themes {
    width: 100%;
    height: 100%;
}

#__next {
    width: 100%;
    height: 100%;
}